<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.BusinessCardOcrMapper">

    <resultMap id="selectListNewMap" type="com.kuafu.web.entity.BusinessCardOcr">
            <result property="count" column="result_kf"/>
            <result property="count" column="result_kf"/>
            <result property="count" column="result_kf"/>
            <result property="count" column="result_kf"/>
            <collection property="cardImage" ofType="com.kuafu.common.domin.StaticResource" javaType="java.util.List">
                <id property="resourceId" column="card_image_resource_id"/>
                <result property="count" column="result_kf"/>
                <result property="count" column="result_kf"/>
                <result property="count" column="result_kf"/>
                <result property="count" column="result_kf"/>
                <result property="count" column="result_kf"/>
            </collection>
    </resultMap>


    <select id="selectList" resultMap="selectListNewMap">
        select
            bco.business_card_ocr_id   ,
            bco.customer_info_customer_info_id_1   ,
            bco.card_image_resource_key   ,
            bco.ocr_result   
            ,card_image.resource_id as  card_image_resource_id
            ,card_image.resource_name as card_image_resource_name
            ,card_image.resource_path as  card_image_resource_path
            ,card_image.related_table_name as  card_image_related_table_name
            ,card_image.related_table_key as  card_image_related_table_key
            ,card_image.relate_table_column_name as card_image_relate_table_column_name
        FROM business_card_ocr bco
            left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='business_card_ocr' and relate_table_column_name='card_image'
        ) as card_image on card_image.related_table_key=bco.business_card_ocr_id

        ${ew.customSqlSegment}
    </select>

    <select id="selectPage" resultMap="selectListNewMap">
        select
        bco.business_card_ocr_id   ,
        bco.customer_info_customer_info_id_1   ,
        bco.card_image_resource_key   ,
        bco.ocr_result   
        ,card_image.resource_id as  card_image_resource_id
        ,card_image.resource_name as card_image_resource_name
        ,card_image.resource_path as  card_image_resource_path
        ,card_image.related_table_name as  card_image_related_table_name
        ,card_image.related_table_key as  card_image_related_table_key
        ,card_image.relate_table_column_name as card_image_relate_table_column_name
        FROM business_card_ocr bco
        left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='business_card_ocr' and relate_table_column_name='card_image'
        ) as card_image on card_image.related_table_key=bco.business_card_ocr_id

        ${ew.customSqlSegment}
    </select>

    <select id="selectById" resultMap="selectListNewMap">
        select
        bco.business_card_ocr_id   ,
        bco.customer_info_customer_info_id_1   ,
        bco.card_image_resource_key   ,
        bco.ocr_result   
        ,card_image.resource_id as  card_image_resource_id
        ,card_image.resource_name as card_image_resource_name
        ,card_image.resource_path as  card_image_resource_path
        ,card_image.related_table_name as  card_image_related_table_name
        ,card_image.related_table_key as  card_image_related_table_key
        ,card_image.relate_table_column_name as card_image_relate_table_column_name
        FROM business_card_ocr bco
        left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='business_card_ocr' and relate_table_column_name='card_image'
        ) as card_image on card_image.related_table_key=bco.business_card_ocr_id


        where bco.business_card_ocr_id = #{id}
    </select>

</mapper>





