<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafuweb.web.mapper.CustomerTagEnumStatisticsMapper">

    <resultMap id="customer_tag_enum_customer_tag_enum_id_status_statistic_9083f377_countStatistic0" type="com.kuafuweb.web.entity.CustomerTagEnumCustomerTagEnumIdStatusStatistic9083f377Count$Statistic0">
        <result property="customerTagEnumId" column="customer_tag_enum_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="customer_tag_enum_customer_tag_enum_id_status_statistic_027cbb5f_countStatistic0" type="com.kuafuweb.web.entity.CustomerTagEnumCustomerTagEnumIdStatusStatistic027cbb5fCount$Statistic0">
        <result property="customerTagEnumId" column="customer_tag_enum_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="customer_tag_enum_customer_tag_enum_id_status_statistic_73a04ddf_countStatistic0" type="com.kuafuweb.web.entity.CustomerTagEnumCustomerTagEnumIdStatusStatistic73a04ddfCount$Statistic0">
        <result property="customerTagEnumId" column="customer_tag_enum_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>



    <select id="customer_tag_enum_customer_tag_enum_id_status_statistic_9083f377_count" resultMap="customer_tag_enum_customer_tag_enum_id_status_statistic_9083f377_countStatistic0">
        select
                cte.customer_tag_enum_id  
                ,  count(cte.customer_tag_enum_id)
 as result_kf
        FROM customer_tag_enum cte

        ${ew.customSqlSegment}
        group by 
            cte.customer_tag_enum_id
    </select>


    <select id="customer_tag_enum_customer_tag_enum_id_status_statistic_027cbb5f_count" resultMap="customer_tag_enum_customer_tag_enum_id_status_statistic_027cbb5f_countStatistic0">
        select
                cte.customer_tag_enum_id  
                ,  count(cte.customer_tag_enum_id)
 as result_kf
        FROM customer_tag_enum cte

        ${ew.customSqlSegment}
        group by 
            cte.customer_tag_enum_id
    </select>


    <select id="customer_tag_enum_customer_tag_enum_id_status_statistic_73a04ddf_count" resultMap="customer_tag_enum_customer_tag_enum_id_status_statistic_73a04ddf_countStatistic0">
        select
                cte.customer_tag_enum_id  
                ,  count(cte.customer_tag_enum_id)
 as result_kf
        FROM customer_tag_enum cte

        ${ew.customSqlSegment}
        group by 
            cte.customer_tag_enum_id
    </select>



</mapper>





