<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.InventoryRecordStatisticsMapper">

    <resultMap id="inventory_record_expire_date_datetime_statistic_a38e9712_countStatistic0" type="com.kuafu.web.entity.InventoryRecordExpireDateDatetimeStatisticA38e9712Count">
        <result property="count" column="result_kf"/>
        <result property="count" column="result_kf"/>
    </resultMap>
<resultMap id="inventory_record_expire_date_datetime_statistic_00541631_countStatistic0" type="com.kuafu.web.entity.InventoryRecordExpireDateDatetimeStatistic00541631Count">
        <result property="count" column="result_kf"/>
        <result property="count" column="result_kf"/>
    </resultMap>
<resultMap id="inventory_record_expire_date_datetime_statistic_5296a1bd_countStatistic0" type="com.kuafu.web.entity.InventoryRecordExpireDateDatetimeStatistic5296a1bdCount">
        <result property="count" column="result_kf"/>
        <result property="count" column="result_kf"/>
    </resultMap>



    <select id="inventory_record_expire_date_datetime_statistic_a38e9712_count" resultMap="inventory_record_expire_date_datetime_statistic_a38e9712_countStatistic0">
        select
                ir.expire_date  
                ,  count(ir.inventory_record_id)
 as result_kf
        FROM inventory_record ir

        ${ew.customSqlSegment}
        group by 
            ir.expire_date
    </select>


    <select id="inventory_record_expire_date_datetime_statistic_00541631_count" resultMap="inventory_record_expire_date_datetime_statistic_00541631_countStatistic0">
        select
                ir.expire_date  
                ,  count(ir.inventory_record_id)
 as result_kf
        FROM inventory_record ir

        ${ew.customSqlSegment}
        group by 
            ir.expire_date
    </select>


    <select id="inventory_record_expire_date_datetime_statistic_5296a1bd_count" resultMap="inventory_record_expire_date_datetime_statistic_5296a1bd_countStatistic0">
        select
                ir.expire_date  
                ,  count(ir.inventory_record_id)
 as result_kf
        FROM inventory_record ir

        ${ew.customSqlSegment}
        group by 
            ir.expire_date
    </select>



</mapper>





