<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafuweb.web.mapper.ProductInfoStatisticsMapper">

    <resultMap id="product_info_shelf_life_datetime_statistic_13b09a91_countStatistic0" type="com.kuafuweb.web.entity.ProductInfoShelfLifeDatetimeStatistic13b09a91Count$Statistic0">
        <result property="shelfLife" column="shelf_life"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="product_info_shelf_life_datetime_statistic_fabe9b9f_countStatistic0" type="com.kuafuweb.web.entity.ProductInfoShelfLifeDatetimeStatisticFabe9b9fCount$Statistic0">
        <result property="shelfLife" column="shelf_life"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="product_info_shelf_life_datetime_statistic_b986a1ea_countStatistic0" type="com.kuafuweb.web.entity.ProductInfoShelfLifeDatetimeStatisticB986a1eaCount$Statistic0">
        <result property="shelfLife" column="shelf_life"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="product_info_product_status_enum_product_status_enum_id_1_status_statistic_b8964b61_countStatistic0" type="com.kuafuweb.web.entity.ProductInfoProductStatusEnumProductStatusEnumId1StatusStatisticB8964b61Count$Statistic0">
        <result property="productStatusEnumProductStatusEnumId1" column="product_status_enum_product_status_enum_id_1"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="product_info_product_status_enum_product_status_enum_id_1_status_statistic_858961b6_countStatistic0" type="com.kuafuweb.web.entity.ProductInfoProductStatusEnumProductStatusEnumId1StatusStatistic858961b6Count$Statistic0">
        <result property="productStatusEnumProductStatusEnumId1" column="product_status_enum_product_status_enum_id_1"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="product_info_product_status_enum_product_status_enum_id_1_status_statistic_68c7c75c_countStatistic0" type="com.kuafuweb.web.entity.ProductInfoProductStatusEnumProductStatusEnumId1StatusStatistic68c7c75cCount$Statistic0">
        <result property="productStatusEnumProductStatusEnumId1" column="product_status_enum_product_status_enum_id_1"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>



    <select id="product_info_shelf_life_datetime_statistic_13b09a91_count" resultMap="product_info_shelf_life_datetime_statistic_13b09a91_countStatistic0">
        select
                pi.shelf_life  
                ,  count(pi.product_info_id)
 as result_kf
        FROM product_info pi

        ${ew.customSqlSegment}
        group by 
            pi.shelf_life
    </select>


    <select id="product_info_shelf_life_datetime_statistic_fabe9b9f_count" resultMap="product_info_shelf_life_datetime_statistic_fabe9b9f_countStatistic0">
        select
                pi.shelf_life  
                ,  count(pi.product_info_id)
 as result_kf
        FROM product_info pi

        ${ew.customSqlSegment}
        group by 
            pi.shelf_life
    </select>


    <select id="product_info_shelf_life_datetime_statistic_b986a1ea_count" resultMap="product_info_shelf_life_datetime_statistic_b986a1ea_countStatistic0">
        select
                pi.shelf_life  
                ,  count(pi.product_info_id)
 as result_kf
        FROM product_info pi

        ${ew.customSqlSegment}
        group by 
            pi.shelf_life
    </select>


    <select id="product_info_product_status_enum_product_status_enum_id_1_status_statistic_b8964b61_count" resultMap="product_info_product_status_enum_product_status_enum_id_1_status_statistic_b8964b61_countStatistic0">
        select
                pi.product_status_enum_product_status_enum_id_1  
                ,  count(pi.product_info_id)
 as result_kf
        FROM product_info pi

        ${ew.customSqlSegment}
        group by 
            pi.product_status_enum_product_status_enum_id_1
    </select>


    <select id="product_info_product_status_enum_product_status_enum_id_1_status_statistic_858961b6_count" resultMap="product_info_product_status_enum_product_status_enum_id_1_status_statistic_858961b6_countStatistic0">
        select
                pi.product_status_enum_product_status_enum_id_1  
                ,  count(pi.product_info_id)
 as result_kf
        FROM product_info pi

        ${ew.customSqlSegment}
        group by 
            pi.product_status_enum_product_status_enum_id_1
    </select>


    <select id="product_info_product_status_enum_product_status_enum_id_1_status_statistic_68c7c75c_count" resultMap="product_info_product_status_enum_product_status_enum_id_1_status_statistic_68c7c75c_countStatistic0">
        select
                pi.product_status_enum_product_status_enum_id_1  
                ,  count(pi.product_info_id)
 as result_kf
        FROM product_info pi

        ${ew.customSqlSegment}
        group by 
            pi.product_status_enum_product_status_enum_id_1
    </select>



</mapper>





