<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafuweb.web.mapper.ProductStatusEnumStatisticsMapper">

    <resultMap id="product_status_enum_product_status_enum_id_status_statistic_d77ca5ce_countStatistic0" type="com.kuafuweb.web.entity.ProductStatusEnumProductStatusEnumIdStatusStatisticD77ca5ceCount$Statistic0">
        <result property="productStatusEnumId" column="product_status_enum_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="product_status_enum_product_status_enum_id_status_statistic_e288bf0e_countStatistic0" type="com.kuafuweb.web.entity.ProductStatusEnumProductStatusEnumIdStatusStatisticE288bf0eCount$Statistic0">
        <result property="productStatusEnumId" column="product_status_enum_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="product_status_enum_product_status_enum_id_status_statistic_3e0cb3c6_countStatistic0" type="com.kuafuweb.web.entity.ProductStatusEnumProductStatusEnumIdStatusStatistic3e0cb3c6Count$Statistic0">
        <result property="productStatusEnumId" column="product_status_enum_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="product_status_enum_status_name_status_statistic_fe3afe34_countStatistic0" type="com.kuafuweb.web.entity.ProductStatusEnumStatusNameStatusStatisticFe3afe34Count$Statistic0">
        <result property="statusName" column="status_name"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="product_status_enum_status_name_status_statistic_1a658de2_countStatistic0" type="com.kuafuweb.web.entity.ProductStatusEnumStatusNameStatusStatistic1a658de2Count$Statistic0">
        <result property="statusName" column="status_name"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="product_status_enum_status_name_status_statistic_8130dea7_countStatistic0" type="com.kuafuweb.web.entity.ProductStatusEnumStatusNameStatusStatistic8130dea7Count$Statistic0">
        <result property="statusName" column="status_name"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>



    <select id="product_status_enum_product_status_enum_id_status_statistic_d77ca5ce_count" resultMap="product_status_enum_product_status_enum_id_status_statistic_d77ca5ce_countStatistic0">
        select
                pse.product_status_enum_id  
                ,  count(pse.product_status_enum_id)
 as result_kf
        FROM product_status_enum pse

        ${ew.customSqlSegment}
        group by 
            pse.product_status_enum_id
    </select>


    <select id="product_status_enum_product_status_enum_id_status_statistic_e288bf0e_count" resultMap="product_status_enum_product_status_enum_id_status_statistic_e288bf0e_countStatistic0">
        select
                pse.product_status_enum_id  
                ,  count(pse.product_status_enum_id)
 as result_kf
        FROM product_status_enum pse

        ${ew.customSqlSegment}
        group by 
            pse.product_status_enum_id
    </select>


    <select id="product_status_enum_product_status_enum_id_status_statistic_3e0cb3c6_count" resultMap="product_status_enum_product_status_enum_id_status_statistic_3e0cb3c6_countStatistic0">
        select
                pse.product_status_enum_id  
                ,  count(pse.product_status_enum_id)
 as result_kf
        FROM product_status_enum pse

        ${ew.customSqlSegment}
        group by 
            pse.product_status_enum_id
    </select>


    <select id="product_status_enum_status_name_status_statistic_fe3afe34_count" resultMap="product_status_enum_status_name_status_statistic_fe3afe34_countStatistic0">
        select
                pse.status_name  
                ,  count(pse.product_status_enum_id)
 as result_kf
        FROM product_status_enum pse

        ${ew.customSqlSegment}
        group by 
            pse.status_name
    </select>


    <select id="product_status_enum_status_name_status_statistic_1a658de2_count" resultMap="product_status_enum_status_name_status_statistic_1a658de2_countStatistic0">
        select
                pse.status_name  
                ,  count(pse.product_status_enum_id)
 as result_kf
        FROM product_status_enum pse

        ${ew.customSqlSegment}
        group by 
            pse.status_name
    </select>


    <select id="product_status_enum_status_name_status_statistic_8130dea7_count" resultMap="product_status_enum_status_name_status_statistic_8130dea7_countStatistic0">
        select
                pse.status_name  
                ,  count(pse.product_status_enum_id)
 as result_kf
        FROM product_status_enum pse

        ${ew.customSqlSegment}
        group by 
            pse.status_name
    </select>



</mapper>





