<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafuweb.web.mapper.ProfitBoardStatisticsMapper">

    <resultMap id="profit_board_stat_date_datetime_statistic_17470edd_countStatistic0" type="com.kuafuweb.web.entity.ProfitBoardStatDateDatetimeStatistic17470eddCount$Statistic0">
        <result property="statDate" column="stat_date"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="profit_board_stat_date_datetime_statistic_edf98856_countStatistic0" type="com.kuafuweb.web.entity.ProfitBoardStatDateDatetimeStatisticEdf98856Count$Statistic0">
        <result property="statDate" column="stat_date"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="profit_board_stat_date_datetime_statistic_f80cc477_countStatistic0" type="com.kuafuweb.web.entity.ProfitBoardStatDateDatetimeStatisticF80cc477Count$Statistic0">
        <result property="statDate" column="stat_date"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>



    <select id="profit_board_stat_date_datetime_statistic_17470edd_count" resultMap="profit_board_stat_date_datetime_statistic_17470edd_countStatistic0">
        select
                pb.stat_date  
                ,  count(pb.profit_board_id)
 as result_kf
        FROM profit_board pb

        ${ew.customSqlSegment}
        group by 
            pb.stat_date
    </select>


    <select id="profit_board_stat_date_datetime_statistic_edf98856_count" resultMap="profit_board_stat_date_datetime_statistic_edf98856_countStatistic0">
        select
                pb.stat_date  
                ,  count(pb.profit_board_id)
 as result_kf
        FROM profit_board pb

        ${ew.customSqlSegment}
        group by 
            pb.stat_date
    </select>


    <select id="profit_board_stat_date_datetime_statistic_f80cc477_count" resultMap="profit_board_stat_date_datetime_statistic_f80cc477_countStatistic0">
        select
                pb.stat_date  
                ,  count(pb.profit_board_id)
 as result_kf
        FROM profit_board pb

        ${ew.customSqlSegment}
        group by 
            pb.stat_date
    </select>



</mapper>





