<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.RfmLevelEnumStatisticsMapper">

    <resultMap id="rfm_level_enum_rfm_level_enum_id_status_statistic_37bad8f0_countStatistic0" type="com.kuafu.web.entity.RfmLevelEnumRfmLevelEnumIdStatusStatistic37bad8f0Count">
        <result property="count" column="result_kf"/>
        <result property="count" column="result_kf"/>
    </resultMap>
<resultMap id="rfm_level_enum_rfm_level_enum_id_status_statistic_23d416cb_countStatistic0" type="com.kuafu.web.entity.RfmLevelEnumRfmLevelEnumIdStatusStatistic23d416cbCount">
        <result property="count" column="result_kf"/>
        <result property="count" column="result_kf"/>
    </resultMap>
<resultMap id="rfm_level_enum_rfm_level_enum_id_status_statistic_bcb4c0b6_countStatistic0" type="com.kuafu.web.entity.RfmLevelEnumRfmLevelEnumIdStatusStatisticBcb4c0b6Count">
        <result property="count" column="result_kf"/>
        <result property="count" column="result_kf"/>
    </resultMap>



    <select id="rfm_level_enum_rfm_level_enum_id_status_statistic_37bad8f0_count" resultMap="rfm_level_enum_rfm_level_enum_id_status_statistic_37bad8f0_countStatistic0">
        select
                rle.rfm_level_enum_id  
                ,  count(rle.rfm_level_enum_id)
 as result_kf
        FROM rfm_level_enum rle

        ${ew.customSqlSegment}
        group by 
            rle.rfm_level_enum_id
    </select>


    <select id="rfm_level_enum_rfm_level_enum_id_status_statistic_23d416cb_count" resultMap="rfm_level_enum_rfm_level_enum_id_status_statistic_23d416cb_countStatistic0">
        select
                rle.rfm_level_enum_id  
                ,  count(rle.rfm_level_enum_id)
 as result_kf
        FROM rfm_level_enum rle

        ${ew.customSqlSegment}
        group by 
            rle.rfm_level_enum_id
    </select>


    <select id="rfm_level_enum_rfm_level_enum_id_status_statistic_bcb4c0b6_count" resultMap="rfm_level_enum_rfm_level_enum_id_status_statistic_bcb4c0b6_countStatistic0">
        select
                rle.rfm_level_enum_id  
                ,  count(rle.rfm_level_enum_id)
 as result_kf
        FROM rfm_level_enum rle

        ${ew.customSqlSegment}
        group by 
            rle.rfm_level_enum_id
    </select>



</mapper>





