<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.UserInfoMapper">

    <resultMap id="selectListNewMap" type="com.kuafu.web.entity.UserInfo">
            <result property="count" column="result_kf"/>
            <result property="count" column="result_kf"/>
            <result property="count" column="result_kf"/>
            <result property="count" column="result_kf"/>
            <result property="count" column="result_kf"/>
            <result property="count" column="result_kf"/>
            <collection property="avatar" ofType="com.kuafu.common.domin.StaticResource" javaType="java.util.List">
                <id property="resourceId" column="avatar_resource_id"/>
                <result property="count" column="result_kf"/>
                <result property="count" column="result_kf"/>
                <result property="count" column="result_kf"/>
                <result property="count" column="result_kf"/>
                <result property="count" column="result_kf"/>
            </collection>
    </resultMap>


    <select id="selectList" resultMap="selectListNewMap">
        select
            ui.user_info_id   ,
            ui.phone_number   ,
            ui.username   ,
            ui.password   ,
            ui.avatar_resource_key   ,
            ui.registration_date   
            ,avatar.resource_id as  avatar_resource_id
            ,avatar.resource_name as avatar_resource_name
            ,avatar.resource_path as  avatar_resource_path
            ,avatar.related_table_name as  avatar_related_table_name
            ,avatar.related_table_key as  avatar_related_table_key
            ,avatar.relate_table_column_name as avatar_relate_table_column_name
        FROM user_info ui
            left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='user_info' and relate_table_column_name='avatar'
        ) as avatar on avatar.related_table_key=ui.user_info_id

        ${ew.customSqlSegment}
    </select>

    <select id="selectPage" resultMap="selectListNewMap">
        select
        ui.user_info_id   ,
        ui.phone_number   ,
        ui.username   ,
        ui.password   ,
        ui.avatar_resource_key   ,
        ui.registration_date   
        ,avatar.resource_id as  avatar_resource_id
        ,avatar.resource_name as avatar_resource_name
        ,avatar.resource_path as  avatar_resource_path
        ,avatar.related_table_name as  avatar_related_table_name
        ,avatar.related_table_key as  avatar_related_table_key
        ,avatar.relate_table_column_name as avatar_relate_table_column_name
        FROM user_info ui
        left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='user_info' and relate_table_column_name='avatar'
        ) as avatar on avatar.related_table_key=ui.user_info_id

        ${ew.customSqlSegment}
    </select>

    <select id="selectById" resultMap="selectListNewMap">
        select
        ui.user_info_id   ,
        ui.phone_number   ,
        ui.username   ,
        ui.password   ,
        ui.avatar_resource_key   ,
        ui.registration_date   
        ,avatar.resource_id as  avatar_resource_id
        ,avatar.resource_name as avatar_resource_name
        ,avatar.resource_path as  avatar_resource_path
        ,avatar.related_table_name as  avatar_related_table_name
        ,avatar.related_table_key as  avatar_related_table_key
        ,avatar.relate_table_column_name as avatar_relate_table_column_name
        FROM user_info ui
        left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='user_info' and relate_table_column_name='avatar'
        ) as avatar on avatar.related_table_key=ui.user_info_id


        where ui.user_info_id = #{id}
    </select>

</mapper>
