<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafuweb.web.mapper.UserInfoStatisticsMapper">

    <resultMap id="user_info_registration_date_datetime_statistic_2ec47ef3_countStatistic0" type="com.kuafuweb.web.entity.UserInfoRegistrationDateDatetimeStatistic2ec47ef3Count$Statistic0">
        <result property="registrationDate" column="registration_date"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="user_info_registration_date_datetime_statistic_2de39a8d_countStatistic0" type="com.kuafuweb.web.entity.UserInfoRegistrationDateDatetimeStatistic2de39a8dCount$Statistic0">
        <result property="registrationDate" column="registration_date"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="user_info_registration_date_datetime_statistic_2d54c52e_countStatistic0" type="com.kuafuweb.web.entity.UserInfoRegistrationDateDatetimeStatistic2d54c52eCount$Statistic0">
        <result property="registrationDate" column="registration_date"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>



    <select id="user_info_registration_date_datetime_statistic_2ec47ef3_count" resultMap="user_info_registration_date_datetime_statistic_2ec47ef3_countStatistic0">
        select
                ui.registration_date  
                ,  count(ui.user_info_id)
 as result_kf
        FROM user_info ui

        ${ew.customSqlSegment}
        group by 
            ui.registration_date
    </select>


    <select id="user_info_registration_date_datetime_statistic_2de39a8d_count" resultMap="user_info_registration_date_datetime_statistic_2de39a8d_countStatistic0">
        select
                ui.registration_date  
                ,  count(ui.user_info_id)
 as result_kf
        FROM user_info ui

        ${ew.customSqlSegment}
        group by 
            ui.registration_date
    </select>


    <select id="user_info_registration_date_datetime_statistic_2d54c52e_count" resultMap="user_info_registration_date_datetime_statistic_2d54c52e_countStatistic0">
        select
                ui.registration_date  
                ,  count(ui.user_info_id)
 as result_kf
        FROM user_info ui

        ${ew.customSqlSegment}
        group by 
            ui.registration_date
    </select>



</mapper>





